<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBKQiv4RmyW25BFqBB70A16cFg2l4zKks</string>
	<key>GCM_SENDER_ID</key>
	<string>646225132299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apppymespuntos</string>
	<key>PROJECT_ID</key>
	<string>apppymespuntos</string>
	<key>STORAGE_BUCKET</key>
	<string>apppymespuntos.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646225132299:ios:422d84a51272c91ee2000e</string>
</dict>
</plist>